In [18]:
import numpy as np
import pandas as pd
import os
import sys
sys.path.append("..")

from src.linear_sorting_algorithms import radixsort
from src.quadratic_sorting_algorithms import bubble_sort, insertion_sort
from src.subquad_sorting_algorithms import quicksort, mergesort
from src.combined_sorting_algorithm import mergesort_combined

from src.utility import time_sorting_algorithms, ArrayGenerator

os.getcwd()

'C:\\Users\\Jkors\\OneDrive\\Dokumenter\\INF221\\term_paper\\team_19_term_paper\\notebooks'

In [19]:
array_gen = ArrayGenerator(seed=42)

# N for 2-base generator, N^2
N = 20

cols = ["Ascending", "Descending", "Random", "Structured"]
data = np.array([array_gen.sorted_array(N),
        array_gen.reversed_array(N),
        array_gen.random_array(N),
        array_gen.structured_array(N)
       ])

data.shape

(4, 1048576)

In [20]:
df = pd.DataFrame(columns=cols, data=data.T)
df

         Ascending  Descending    Random  Structured
0              0.0   1048576.0  0.773956       107.0
1              1.0   1048575.0  0.438878      3411.0
2              2.0   1048574.0  0.858598      3839.0
3              3.0   1048573.0  0.697368      2042.0
4              4.0   1048572.0  0.094177      5188.0
...            ...         ...       ...         ...
1048571  1048571.0         5.0  0.527868   1048497.0
1048572  1048572.0         4.0  0.702595   1048506.0
1048573  1048573.0         3.0  0.542314   1048540.0
1048574  1048574.0         2.0  0.621054   1048493.0
1048575  1048575.0         1.0  0.341063   1048546.0

[1048576 rows x 4 columns]